[submodule "wandering-cat-information-platform-user-management"]
	path = wandering-cat-information-platform-user-management
	url = https://github.com/Sparkxyf/wandering-cat-information-platform-user-management.git
[submodule "wandering-cat-information-platform-cat-information"]
	path = wandering-cat-information-platform-cat-information
	url = https://github.com/Sparkxyf/wandering-cat-information-platform-cat-information.git
[submodule "wandering-cat-information-platform-eureka"]
	path = wandering-cat-information-platform-eureka
	url = https://github.com/Sparkxyf/wandering-cat-information-platform-eureka.git
[submodule "wandering-cat-information-platform-feed"]
	path = wandering-cat-information-platform-feed
	url = https://github.com/Sparkxyf/wandering-cat-information-platform-feed.git
[submodule "wandering-cat-information-platform-adopt"]
	path = wandering-cat-information-platform-adopt
	url = https://github.com/Sparkxyf/wandering-cat-information-platform-adopt.git
[submodule "wandering-cat-information-platform-message"]
	path = wandering-cat-information-platform-message
	url = https://github.com/Sparkxyf/wandering-cat-information-platform-message.git
